/*--------------------
    General Settings
----------------------*/
body, html {
    height: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select:none;   
}

/*---------------------------
        form input
---------------------------*/
input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #eee;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:focus {
    outline: 0;
    border-color: 1px solid #1f92de;
    box-shadow: 0px 0px 3px 2px #88a1d4;
}

/*--------------------
    The file dropzone
----------------------*/
#drop-zone {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(11, 133, 161, 0.75);
    color: #fff;
    text-align: center;
    font: bold 36px sans-serif;
    line-height: 90vh;
    transition: 0.4s;

    &.hidden{
        opacity: 0;
        pointer-events: none;
        transition: 0.6s;
    }
}

/*--------------------
    app flex container
----------------------*/
#container {
   height: 100%;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   font: bold 15px sans-serif;
   overflow: hidden;

    &.disabled {
        .instructions {
            display: block;
        }
        #wave{
            display: none;
        }

        #control-bar {
            pointer-events: none;
        }
        #track-details{
            color:#758389;
        }
        #track-details {
            i {
                display: none;
            }
        }
    }
}

#player {
    height: 100%;
    width: 100%;
    display: flex;
   flex-direction: column;
}

/*---------------------------
    Cover Art Section
----------------------------*/
#cover-art {
    display: flex;
    flex: 1 auto;
    position: relative;
    overflow: hidden;
}
#cover-back {
    flex: 1;
    background-size: cover; 
    /* 背景画像をhtml要素にフィット */
    margin: -12px; /* ??? */
    -webkit-filter: blur(7px); /* ぼかし */
}
#cover-art-small {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin: -250px auto auto -250px;
    border-radius: 2px;
}

.instructions{
    display: none;
    position: absolute;
    width: 280px;
    font: 16px sans-serif;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: 280px;
}

/*---------------------------
    Player Control Bar
----------------------------*/
#control-bar {
    position: relative;
    z-index: 10;
    display: flex;
    color: #3D464A;
    text-align: left;
}

.player-control {
    flex:2;
    display: flex;

    div {
        flex: 1;
        background-color: #fff;
        text-align: center;
        line-height: 60px;
        height: 100%;
        cursor: pointer;
    }

    .disabled {
        .player-control div {
            color: #758389;
        }
    }
}

#shuffle-button,
#repeat-button {
    line-height: 60px;
    color: #758389;
    position: relative;

    .active {
        line-height: 60px;
        color: #000;
    }
}

#repeat-button i span{
    display: none;
    position: absolute;
    font: bold 12px sans-serif;
    color: rgb(71, 91, 118);
    top: 6px;
    left: 13px;
}

/*---------------------------
        Playlist
---------------------------*/
#playlist {
    position: relative;
    display: flex;
    flex: 3;
    text-align: left;
}

#track-details {
    position: relative;
    flex: 1;
    display: flex;
    z-index: 20;
    background-color: #fff;
    padding: 0 30px 0 40px;
    cursor: pointer;
    white-space: nowrap;

    i {
        line-height: 60px;
        margin-right: 15px;
    }
}
#track-desc {
    line-height: 60px;
    flex: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    padding-right: 15px;
    font-weight: normal;
}
#track-time {
    line-height: 60px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

/*  Expanding Playlist Bar */
#expand-bar {
    position: absolute;
    z-index: 10;
    left:0;
    bottom:0;
    width: 100%;
    background-color: #fff;
    color: #222;
    cursor: default;
    transition: height 0.4s, box-shadow 0.2s;
    height:100vh;
    box-shadow: -1px 0 2px 1px rgba(0, 0, 0, 0.15);

    &.hidden{
        height: 0;
        box-shadow: none;
    }

    form {
        position: relative;
        padding: 18px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);
        width: 100%;
        background-color: #fff;
        z-index: 40;

        .input_wrapper{
            position: absolute;
            left: 20px;
            right: 220px;
            top: 3px;
        }
        .search {
            padding-left: 34px;
            background-color: transparent;
            border-radius: 23px;
        }

        label {
          position: absolute;
          left: 35px;
          top: 9px;
        }
        .fa-search {
            font-size: 14px;
        }
    }
}

/*  Playlist */
#tracklist {
    position: absolute;
    left:0;
    top:55px;
    bottom:60px;
    list-style: none;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    li:nth-child(even):not(.show_more){
        background-color: #F8F7F9;
    }
}

.track {
    padding: 9px;
    cursor: pointer;
    overflow: hidden;
    color: #3D464A;
    position: relative;

    &.active {
        background-color: #DBE0E4!important;

        .overlay {
            opacity: 1;
        }
        span i{
            opacity: 1;
        }
    }
    .title {
        font-size: 18px;
        margin-top: 14px;
        margin-bottom: 4px;
        font-weight:bold;
    }
    .artist {
        font-weight: normal;
    }
    div:first-child {
        position: relative;
        width: 70px;
        height: 70px;
        margin-right: 25px;
        float: left;
    }
    .overlay {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: 0.4s;
        opacity: 0;
        border-radius: 3px;
    }

    div {
        img {
            width: 100%;
            border-radius: 3px;        
        }
    }

    span {
        i {
            color: #fff;
            font-size: 22px;
            line-height: 70px;
            left: 28px;
            position: absolute;
            transition: 0.4s;
            opacity: 0;        
        }
    }

    .remove-track {
        position: absolute;
        font-size: 22px;
        top: 12px;
        right: 18px;
        color: rgb(121, 121, 121);
        display: block;
    }

    &.show_more {
        cursor: default;

        span {
            display: inline-block;
            width: 100%;
            text-align: center;
            color: #758389;
            cursor: pointer;
            transition: color ease-in-out .15s;
        }
        span:hover {
            color: #000;
        }
    }
}

/*---------------------------
        Media queries
---------------------------*/
@media (max-width: 1200px) {

    #control-bar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }

    .player-control {
        -webkit-order: 2;
        order: 2;
    }

    #playlist {
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }

    #expand-bar {
        padding-top: 120px;
        bottom: 60px;

        &.hidden{
            padding-top: 0;
        }
    }

    #tracklist {
        bottom: 0;
        top: 175px;
    }
}
